/* LandingPage.css follows Tachyons naming conventions */

/* card pading */
.pa-3{
  padding: 3%;
}

.h-navOffset{ /* navbar is fixed height 50 px*/ 
  height: calc(100vh - 50px); 
}

/* to help s/m layouts */
.h-min-landing{
  min-height: 25rem;
}

.h-80{
  height:80%;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .min-h10-m{
    min-height: 10rem;
  }
}

/* media queries -l breakpoint size  */

@media screen and (min-width: 60em) {
  /* all for card sizing */
  .w-35-l {
    width: 35%;
  }

  .h-65-l {
    height:65%;
  }

  .grow-l {
    -moz-osx-font-smoothing:grayscale;
    backface-visibility:hidden;
    transform:translateZ(0);
    transition:transform 0.25s ease-out;
  }
  .grow-l:hover {
    transform: scale(1.05);
  }
  .pointer-l:hover {
    cursor: pointer;
  }
 
  .pa-2-l{
    padding: 2%;
  }

  .max-mr-10-l{
    margin-right: min(13.3rem, 10%);
  }
  .hover-bg-gray-l:hover { 
    background: #777777; 
  }
}

/* custom media query nl NOT LARGE */
@media screen and (max-width: 60em) { 
  /* card sizing */
  .h-35-nl{
    height:  35%
  }
  .h-100-nl{
    height: 100%
  }
  /* spacing for cards */
  .mh3-nl{
    margin:2rem;
  }
  /* used for intro */
  .mb4-nl{
    margin-bottom: 4rem;
  }


}