/* MyTextsHeader.css */
#myTextsName{
  overflow-wrap: anywhere; 
  width: 50%;
}

#myTextsHeader{
  font-size: 4rem;
}

/* custom small break point */
@media screen and (max-width: 30em) { 
  #catalogHeader{
    font-size: 3rem;
  }
}