/* TypeTracerApp.css follows Tachyons naming conventions*/
.content-box{
  box-sizing: content-box;
}


/* media queries that match Tachyons -m, -l  breakpoints to implement custom classes when necessary */
@media screen and (min-width: 30em) and (max-width: 60em) {
  /*w-custom widths calc from tachyons measure size * font size i.e 1rem * 30em + 4rem to give text space */
  .w-custom{
    width: 34rem;
    max-width: 90%;
  }
}

@media screen and (min-width: 60em) {
  /*w-custom widths calc from tachyons measure size * font size i.e 1.25rem * 30em + 4rem to give text space */
  .w-custom{
    width: 41.5rem;
  }
}
/* custom small break point */
@media screen and (max-width: 30em) { 
/*w-custom widths calc from tachyons measure size * font size i.e .875rem * 30em */
  .w-custom{ 
    width: 26.25rem;
    max-width: 85%;
  }
}