/* TitleSaveBar.css */
.title-overflow { /*gives ellipsies to title overflow*/
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-overflow:hover {
  position: relative;
  text-overflow: clip;
  white-space: normal;
  word-break: break-word;
}

.bb-double {
  border-bottom: 4px double #999;
}
/* container width so flex reszing doesnt happen between switching from loader to saveStatus */
#saveStatus{ 
  width: 2.5rem;
}
.hover-bg-black-no-focus:hover {
  background-color: #000;
}
.hover-white-no-focus:hover{
  color:white;
}

/* media queries that match Tachyons -m, -l  breakpoints to implement custom classes when necessary*/
@media screen and (min-width: 30em) and (max-width: 60em) {
  /*70% fixed height of container element*/
  #title{
    max-width: 21rem;
  }
}

@media screen and (min-width: 60em) {
   /*70% fixed height of container element*/
  #title {
    max-width:26.25rem 
  }
}

@media screen and (max-width: 30em) { 
  /*50% fixed height of container element*/
  #title{
    max-width:13.125rem;
    margin-top: 3px;
    margin-bottom: 3px;
  };
}

/* hideMe and hideMe2 because in order to re-run animations one must re render html dom node */
.hideMe {
  -webkit-animation: cssAnimation 3s forwards; 
  animation: cssAnimation 3s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

.hideMe2 {
  -webkit-animation: cssAnimation2 3s forwards; 
  animation: cssAnimation2 3s forwards;
}
@keyframes cssAnimation2 {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation2 {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}